* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.form-container {
  background: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 0 8px 25px #00000020;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #333;
  width: 100%;
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #2575fc;
}

input::placeholder {
  color: #bbbbbb;
}

.error-msg {
  color: #f00;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

/* Button */
button {
  width: 100%;
  background-color: #2575fc;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1a5ed6;
}

input.error {
  border-color: rgb(255, 90, 90);
}

@media (max-width: 480px) {
  .form-container {
    padding: 20px 15px;
    width: 80%;
  }
}
